Django>=5.2,<6
djangorestframework>=3.16,<4
django-cors-headers>=4.9,<5
django-filter>=25.2,<26
psycopg2-binary>=2.9,<3
python-decouple>=3.8,<4
PyJWT>=2.10,<3
gunicorn>=23.0,<24
Pillow==10.3.0
requests>=2.31.0,<3
